<!DOCTYPE html>
<html lang="de">
	<wicket:head>
		<title>Azubiweb - Steckbrief</title>
	</wicket:head>
	<body>
		<wicket:extend>
		<div class="media">
		<div class="media-right">
		<img src="image.png" class="media-object" style="width:60px">
		</div>
		<div class="media-body">
		<h4 class="media-heading">Kinan Saeb</h4>
		</div>
		</div>
		<div class="form-group row">
		<div class="col-md-3 mb-3">
		<h2>Ausbilder/in</h2>
		</div>
		</div>
		
		<div class="form-group row">
		<div class="col-md-3 mb-3">
		<label>Ausbilder/in:
		<select name="ausbilder" size="4">
		<option>Herr Baumgartner</option>
		<option>Herr Klemm</option>
		<option>Frau Stremme</option>
		<option>Frau Titel-Tier</option>
		
		</select>
		</label>
		</div>
		</div>
		
		<div class="form-group row">
		<div class="col-md-3 mb-3">
		<h2>Abwesenheit</h2>
		</div>
		</div>
		<div class="form-group row">
		<div class="col-md-4 mb-4">
		<input class="form-control" type="text" placeholder="Grund der Abwesenheit" id="abwesenheitsGrund">
		<input class="form-control" type="date" id="abwesendVon">
		<h3>-</h3>
		<input class="form-control" type="date" id="abwesendBis">
		</div>
		</div>
			<div class="form-group row">
		<div class="col-md-3 mb-3">
		<h2>Schulungen</h2>
		</div>
		</div>
		<div class="form-group row">
		<div class="col-md-3 mb-3">
		<input class="form-control" type="text" placeholder="Schulungen" id="schulungen">
		</div>
		</div>
		<div class="form-group row">
		<div class="col-md-3 mb-3">
		<div class="form-group row">
		<div class="col-md-3 mb-3">
		<h2>Bisherige Ausbildungsstationen</h2>
		</div>
		</div>
		<div class="form-group row">
		<div class="col-md-3 mb-3">
	<label>Ausbildungsstationen:
		<select name="ausbildungsstationen" size="5" multiple>
		<option>4.1.3</option>
		<option>2.4.1</option>
		<option>2.3.3</option>
		<option>2.4.3</option>
		<option>2.4.4</option>

		</select>
		</label>		</div>
		</div>
		<h2>Kenntnisse & Fähigkeiten</h2>
		</div>
		</div>
		<div class="form-group row">
		<div class="col-md-3 mb-3">
		<input class="form-control" type="text" placeholder="Kenntnisse & Fähigkeiten" id="kenntnisse">
		</div>
		</div>
		
		<div class="form-group row">
		<div class="col-md-3 mb-3">	
		<h2>Erwartungen</h2>
		</div>
		</div>
		<div class="form-group row">
		<div class="col-md-3 mb-3">
		<textarea class="form-control" rows="5" id="erwartungen">Erwartungen...</textarea>
		</div>
		</div>
		<h2>Bild hochladen</h2>
		<form method ="post" enctype="multipart/form-data">
		<label>Wählen Sie eine .png oder .jpeg Datei aus.
		<input name="datei" type="file" size="50" accept="*">
		<button>Hochladen</button>
		</label>
		</form>
		<div class="form-group row">
		<div class="col-md-3 mb-3">
	<button class="btn btn-primary" type="submit">Bestätigen</button>
		<button class="btn btn-secondary" type="submit">Reset</button>
			<button class="btn btn-secondary" type="submit">Abbrechen</button>
	
		</div>
		</div>
		
		
		</wicket:extend>
	</body>
</html>